
apiVersion: apps/v1
kind: Deployment
metadata:
  name: poorna-deployment
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: poorna
    spec:
      containers:
        - name: poorna-app
          image: nginx:latest
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          # Optional: set resources, env, probes, etc.
          # resources:
          #   requests:
          #     cpu: "100m"
          #     memory: "128Mi"
                   #   limits:
          #     cpu: "500m"
