---
apiVersion: v1
kind: Service
metadata:
  name: poorna-service
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30080
