
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx
  type: NodePort   # Change to LoadBalancer if using cloud provider
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080   # Optional for NodePort
``
